venv
.bashrc
.bash_logout
.bash_history
.python_history
.profile
.Xauthority
.xsession-errors
.xsession-errors.old
0_PROMPT.docx
.arduino15/
.cache/
.config/
.cups/
.Data/
.Image/
.java/
.local/
.pki/


